{% set title = "Put your crypto affairs in order" %} {% extends "template.html"%} {% block main %}

<h2>35% of Bitcoin are believed to be gone forever.</h2>
<p>Cryptocrypt helps you set up a delayed message for your loved ones, to help them retrieve your crypto when you're gone.</p>

<form method="POST" action="/create">
  <input type="submit" value="Create a crypt" />
</form>

<ul>
  <li>
    <h3>Free</h3>
    <p>This service is free of use.<br />It's maintained by donations from happy users.</p>
  </li>
  <li>
    <h3>Secure</h3>
    <p>
      Data is encrypted in transit, and can be completely deleted at will.<br />
      You can also encrypt your message using the same algorithms that secure blockchains,<br />
      or self-host an instance of cryptocrypt on your own server.
    </p>
  </li>
  <li>
    <h3>Easy</h3>
    <p>
      It only takes a couple minutes to get everything set up.<br />
      And you're then free to live your life.
    </p>
  </li>
</ul>

<h3>How does it work?</h3>
<ol>
  <li>
    You create a crypt. You tell us who your next of kin is, and your instructions to help them retrieve your cryptos. (<a href="/examples"
      >see examples</a
    >)
  </li>
  <li>You get contacted regularly, and confirm you're still around.</li>
  <li>If you fail to answer for some time, we send your message automatically to the intended recipient.</li>
</ol>

<a href="/faq">More questions?</a>
{% endblock %}
