{% set title = "What should I do with the list of words I found?" %} {% extends "template.html"%} {% block main %}
<p>
  You've received a message, and this message included instructions to find a list of words (sometimes called a passphrase, or a seed).<br />
  Now what?
</p>

<p>This word list is a recovery seed, also called a recovery passphrase. It's the "key" to a vault of digital assets that's worth money.</p>

<p>
  It's important to ensure this word list is never written or shared on an electronic device with Internet access, otherwise anyone would be able to
  access your funds.
</p>

<p>
  Instead, it's worth spending some time learning about cold storage and cold wallet. Once you have a better understanding of this, you can either buy
  a wallet online (for instance, Trezor or Ledger), or reuse an existing one.<br />
  You'll find documentation online for each provider.
</p>

<p>
  Finally, should you wish to exit your crypto positions and trade it for fiat ("standard") money, you can send your crypto to an exchange (for
  instance, Coinbase or Kraken).<br />
  Beware that trading back to fiat has tax implications for most countries in the world. For significant amount of money, you may want to consult with
  a tax lawyer.
</p>

<p>
  If this website was helpful in any way, please <a href="/donate">consider donating a small portion of your new wealth</a> to support this service.
</p>
{% endblock %}
