{% set title = "Advice to write your message" %}
{% extends "template.html"%}

{% block main %}

<h2>The emotions</h2>
<p>
  Writing the content of your delayed message is hard.<br />
  This is normal: it's not easy to project yourself in the future and contemplate death.<br />You have much to say, and words feel inadequate.
</p>

<p>
  There's no definitive answer to this problem, but I recommend keeping things simple and factual. Anything emotional you want to include in your message should probably be said now, to that person's face, as life is short.<br />
  This way, you can "simply" focus on the technical aspect of what you're trying to do: pass on factual information to help your loved ones access your wallet.
</p>

<h2>The facts</h2>
<p>
  It's best to start your message with something personal but not emotional, to ground your message in reality, and ensure it's not discarded as spam.
  People in grief are especially vulnerable, so you want to make sure they don't have any doubt that the message really comes from you. Maybe mention a shared memory that only they know, the name of a pet, a detail of the place you live in... anything that will build rapport through a screen and push the recipient to read forward.
</p>
<p>
  After that, tell them where to find your recovery phrase. Leave no place for ambiguity: where is it? How can they access it? Will they know exactly what you're talking about if you say "in the nightstand", "in a drawer", "under the mat"? Can you be more specific, less vague?
</p>
<p>
  Have you messed up in any way with your recovery phrase? Words written in the wrong order, permutations, anything not straightforward that they need to know?
</p>
<p>
  Finally, do they have enough knowledge to use the recovery phrase efficiently? You don't want them to post online asking for help from strangers.<br />
  Do you have a trusted friend or relative that knows about crypto or can help them?<br />
  If not, emphasize the importance of keeping this word list offline and secret.<br />
  If you want, you can link them to <a href="/words">this page on this website</a>: it's fairly safe to assume that if they received the message, this site still operates!
</p>

<h2>It's still hard!</h2>
<p>
  I know, and I'm sorry for that. As humans living in our modern societies, we're hardwired to make talking about death and grief hard. It's worth pushing through however, as doing nothing is the worst possible outcome.
</p>
<p>
  If you need it, you can read <a href="/examples">sample messages</a>. They may hopefully help get you past the writing block, to focus on the information you want to share.
</p>
{% endblock %}
