{% extends "template.html"%} {% block main %} {% if crypt.status === STATUS_INVALID %}
<p class="info">You'll need to verify your email address to edit this crypt. Please check your email.</p>
{% elif crypt.status === STATUS_EMPTY %}
<p class="info">This crypt is missing some information and needs <a href="/crypts/{{ crypt.uuid}}/edit">to be edited</a> and fixed.</p>
{% elif crypt.status === STATUS_READY %}
<p class="info">This crypt is valid. You'll be contacted every month to check on your status.</p>
{% elif crypt.status === STATUS_SENT %}
<p class="info">This crypt has been shared with its intended recipient. If you've saved everything, you can now delete it.</p>
{% endif %}

<ul>
  {% for action in actions %} {% if action == "edit" %}
  <li><a href="/crypts/{{ crypt.uuid }}/edit">Edit this crypt</a></li>
  {% elif action == "preview" %}
  <li><a href="/crypts/{{ crypt.uuid }}/read?preview">Preview this crypt</a></li>
  {% elif action == "verify" %}
  <li><a href="/crypts/{{ crypt.uuid }}/verify">Verify your email again</a></li>
  {% elif action == "delete" %}
  <li><a href="/crypts/{{ crypt.uuid }}/delete">Delete this crypt forever</a></li>
  {% endif %} {% endfor %}
</ul>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Event</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td>
        <time datetime="{{ event.created_at.toISOString()}}">{{ event.created_at }}</time>
      </td>
      <td>{{ event.event }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
