{% extends "template.html"%} {% block main %} {% if crypt.status !== STATUS_SENT %}
<div class="toast info">
  <p>This is a preview of your crypt, as it would be seen by {{ crypt.to_name }} if you did not answer communication attempts for some time.<br />
  If this happened, this page (minus this banner) would be automatically emailed to your next of kin, you don't need to do anything.</p>
  <p>
    <a href="/crypts/{{ crypt.uuid }}/edit" class="cta-button">Edit this crypt</a>
  </p>
</div>
{% endif %}

<p>
  This message was written for you by {{ crypt.from_name }}, with instructions to send this to you should they stop answering communication.<br />
  Sadly, we haven't heard back from {{ crypt.from_name }} in over a month, and we are now sharing the message he trusted us with.
</p>

<hr />

<p>{{ crypt.message }}</p>

{% if crypt.encrypted_message_name %}
<p>
  Attached file:&nbsp;<a href="/crypts/{{ crypt.uuid }}/file">{{ crypt.encrypted_message_name }}</a> ({{ crypt.encrypted_message_length }}). {% endif
  %}
</p>

<p>
  <small>
    Message created on <time datetime="{{crypt.created_at.toISOString() }}">{{crypt.created_at }}</time>, last updated on
    <time datetime="{{crypt.updated_at.toISOString() }}">{{crypt.updated_at }}</time>.<br />
    {{ crypt.from_name }} was successfully contacted last on <time datetime="{{crypt.refreshed_at.toISOString() }}">{{crypt.refreshed_at }}</time>.
  </small>
</p>
{% endblock %}
