{% extends "template.html"%} {% block main %} {% if crypt.status !== STATUS_SENT %}
<p class="info">
  This is a preview of your crypt, as it would be seen by {{ crypt.to_name }} if you did not answer communication attempts for some time.<br />
  If this happened, this page (minus this banner) would be automatically emailed to your next of kin, you don't need to do anything.<br />
  Notice an error? <a href="/crypts/{{ crypt.uuid }}/edit">Edit this crypt</a>
</p>
{% endif %}

<p>
  This message was written for you by {{ crypt.from_name }}, with instructions to send this to you should they stop answering communication.<br />
  Sadly, we haven't heard back from {{ crypt.from_name }} in over a month, and we are now sharing the message he trusted us with.
</p>

<hr />

<p>{{ crypt.message }}</p>

{% if crypt.encrypted_message_name %}
<p>
  Attached file:&nbsp;<a href="/crypts/{{ crypt.uuid }}/file">{{ crypt.encrypted_message_name }}</a> ({{ crypt.encrypted_message_length }}). {% endif
  %}
</p>

<p>
  <small>
    <script nonce="{{ ctx.nonce }}">
      const createdAt = new Date('{{crypt.created_at }}').toLocaleDateString();
      const updatedAt = new Date('{{crypt.updated_at }}').toLocaleDateString();
      const refreshedAt = new Date('{{crypt.refreshed_at }}').toLocaleDateString();

      document.write(
        `Message created on ${createdAt}, last updated on ${updatedAt}.<br />{{ crypt.from_name }} was successfully contacted last on ${refreshedAt}.`,
      );
    </script>
  </small>
</p>
{% endblock %}
