{% extends "template.html"%} {% block main %}

<ul>
  <li>Never send your 12/24 words online, or write it on a device with Internet access. This includes this website.</li>
  <li>Avoid disclosing more personal information than strictly needed</li>
</ul>

<a href="/crypts/{{ ctx.crypt.uuid}}/edit">Ok, let's go</a>

<ul>
  <li>You can completely delete at any time. Nothing will remain.</li>
  <li>You can encrypt sensitive data using your own key</li>
  <li>You can host this app on your own</li>
</ul>

{% endblock %}
